<div class="container_title">
    <h4 class="title">PROXIMAMENTE!</h4>
</div>

<div class="conatiner-parragram">
  <p class="justified">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum aperiam accusantium 
      suscipit. Suscipit iure quod veniam numquam tempora accusantium magnam iste nisi. 
      Consequuntur quidem nobis voluptatem blanditiis dolore repellendus vel sequi ea 
      saepe ducimus labore aspernatur ipsa fugiat nulla nam minus modi, vero voluptatibus
       asperiores quasi ipsum explicabo facere iusto incidunt? Ducimus natus, fuga quae 
       iusto nihil atque animi earum architecto excepturi dicta consectetur. Nobis eos 
       commodi voluptate voluptatem nihil aut ipsum non, dolores delectus eius laboriosam 
       cumque culpa minus?</p>
</div>
{{!-- <div class="slider-context">
    <div class="container-meddlie">
    <p class="context">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, facilis ea asperiores
       sunt nobis assumenda nostrum voluptas magnam adipisci</p>
    </div>
</div> --}}
<section class="content">
  <div class="grand-title" id="servicio">
    <h4 data-ix="slowfade-scroll-bigs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, repellendus!</h4>
  </div>
  <div class="text">
    <div class="inner-text">
      <h3 data-ix="slowfade-scroll-bigs">genialidea</h3>
      <i class="ic ion-fork"></i>
      <div class="text-box">
        <h5 data-ix="slowfade-scroll-bigs">genialidea</h5>
        <p data-ix="slowfade-scroll-bigs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, modi!</p>
      </div>
    </div>
    <div class="inner-text">
      <h3 data-ix="slowfade-scroll-bigs">genialidea</h3>
      <i class="ic ion-knife"></i>
      <div class="text-box">
        <h5 data-ix="slowfade-scroll-bigs">genialidea</h5>
        <p data-ix="slowfade-scroll-bigs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, modi!</p>
      </div>
    </div>
    <div class="inner-text">
      <h3 data-ix="slowfade-scroll-bigs">genialidea</h3>
      <i class="ic ion-spoon"></i>
      <div class="text-box">
        <h5 data-ix="slowfade-scroll-bigs">genialidea</h5>
        <p data-ix="slowfade-scroll-bigs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, modi!</p>
      </div>
    </div>
  </div>

  <div class="inner-content">
    <div class="boxy"></div>
    <div class="boxy">
      <div id="slider">
        <figure>
          <ul>
            <li>
              <h4>Lorem ipsum 1</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, perspiciatis.</p>
            </li>
            <li>
              <h4>Lorem ipsum 2</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, fugiat!</p>
            </li>
            <li>
              <h4>Lorem ipsum 3</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, nemo!</p>
            </li>
            <li>
              <h4>Lorem ipsum 4</h4>
              <img src="https://unsplash.it/80?image=823" alt="" />
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, consequatur.</p>
            </li>
          </ul>
        </figure>
      </div>
    </div>
  </div>
{{!-- <div class="containers-cards">

<div class="cards"></div>

<div class="cards"></div>

<div class="cards"></div> --}}


</div>