<nav class="navbar">
  <div class="icon">
  
  <h3><img style="height: 25px; width: 25px;" src="/img/icon.svg" alt=""> PcMasterRace</h3>
  </div>
  <ul>
    <li><a href="/"><i class="fas fa-laptop-code"></i> Tu Propia Pc  </a></li>
    <li><a href=""><i class="fas fa-store"></i> Tienda  </a></li>
    <li><a href=""><i class="fas fa-concierge-bell"></i> Servicios  </a></li>
    <li><a href=""><i class="fas fa-mobile-alt"></i> Contactenos  </a></li>
  </ul>
  <div class="menu-drop-down">
    <input id="response" type="checkbox">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</nav>