<nav class="navbar">
  <div class="icon">
  <h3>PcMasterRace</h3>
  </div>
  <ul>
    <li><a href="/">Tu Propia Pc</a></li>
    <li><a href="">Tienda</a></li>
    <li><a href="">Servicios</a></li>
    <li><a href="">Contactenos</a></li>
  </ul>
  <div class="menu-drop-down">
    <input id="response" type="checkbox">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
</nav>