

<div class="slider">
  <div class="container">
    <img style="height: 670px;" src="/img/imagen0.jpg" alt="">
    <img style="height: 670px;" src="/img/imagen1.jpg" alt="">
    <img style="height: 670px;" src="/img/imagen2.jpg" alt="">
    <img style="height: 670px;" src="/img/imagen3.jpg" alt="">
    <img style="height: 670px;" src="/img/imagen4.jpg" alt="">
    <img style="height: 670px;" src="/img/imagen5.jpg" alt="">
    <img style="height: 670px;" src="/img/imagen6.jpg" alt="">
    <img style="height: 670px;" src="/img/imagen7.png" alt="">
  </div>
  <div class="selection">
  <ul>
  </ul>
</div>
</div>
