<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>MasterPC</title>

</head>
<body>
    {{>nav}}
    {{>slider}}
    {{{body}}}
   
    <script src="https://kit.fontawesome.com/ed7d4b7eba.js" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <script src="/js/nav.js"></script>
</body>
</html>